.img_section {
    width: 100%
}

.img_section_item {
    flex: 0 0 15%;
}

.img_section_item img {
    max-width: 100% !important;
}

.skeletal-loader {
    width: 100%;
    height: 20px;
    /* Adjust the height of the line */
    background-color: #f0f0f0;
    /* The base color of the line */
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    /* Optional, for rounded corners */
}

.skeletal-loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background-color: #d0d0d0;
    /* The shimmer color */
    animation: shimmer 1s infinite linear;
}

@keyframes shimmer {
    0% {
        left: -100%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}